@import "tailwindcss";

:root {
  --primary-color: #3498db;
  --primary-dark: #2980b9;
  --secondary-color: #e74c3c;
  --text-color: #333;
  --light-gray: #f4f4f4;
  --gray: #ccc;
  --dark-gray: #666;
  --font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

